//Vars Search
@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

:root {
    --rad: .7rem;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #03e9f4;
    --font-fam: 'Lato', sans-serif;
    --height: 5rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
  }
  
//paginacion
    #example_filter{
        float:right;
    }
    #example_paginate{
        float:right;
    }
    label {
        display: inline-flex;
        margin-bottom: .5rem;
        margin-top: .5rem;
        
    }
    .page-item.disabled .page-link {
       
        color: #6c757d;
        pointer-events: none;
        cursor: auto;
        background-color: #fff;
        border-color: #dee2e6;
    }



  // Setup
  //body {background: var(--color-dark); display: flex; align-items: center; justify-content: center; min-height: 100vh }
.html1 { box-sizing: border-box; height: 100%; font-size: 10px; } 

  .l, .l::before, .l::after { 
     box-sizing: inherit; }
  
    .div-item{
    background: var(--color-dark); 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    min-height: 100vh

  }

  // Main styles
  .form1 {
    position: relative;
    width: 30rem;
    background: var(--color-brand);
    border-radius: var(--rad);
  }
  .input1, .button1 {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: 1.8rem;
  }
  .input1[type="search"] {
    outline: 0; // <-- shold probably remove this for better accessibility, adding for demo aesthetics for now.
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    appearance: none; //for iOS input[type="search"] roundedness issue. border-radius alone doesn't work
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
  }
  .button1 {
    display: none; // prevent being able to tab to it
    position: absolute;
    top: 0;
    right: 0;
    width: var(--btn-width);
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
  }
  .input1:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
    + .button1 {
      display: block;
    }
  }
  .label1 {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  
  
//pagina libro
// *
// {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   font-family: consolas;
// }

// body
// {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;
//   background: #1d061a
// }
.body2
{
  
  background: #1d061a;
}

// .container1
// {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-wrap: wrap;
//   padding: 40px 0;
// }

// .container1 .box
// {
//   position: relative;
//   width: 320px;
//   height: 400px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin: 40px 30px;
//   transition: 0.5s;
// }

// .container1 .box::before
// {
//   content:' ';
//   position: absolute;
//   top: 0;
//   left: 50px;
//   width: 50%;
//   height: 100%;
//   text-decoration: none;
//   background: #fff;
//   border-radius: 8px;
//   transform: skewX(15deg);
//   transition: 0.5s;
// }

// .container1 .box::after
// {
//   content:'';
//   position: absolute;
//   top: 0;
//   left: 50;
//   width: 50%;
//   height: 100%;
//   background: #fff;
//   border-radius: 8px;
//   transform: skewX(15deg);
//   transition: 0.5s;
//   filter: blur(30px);
// }

// .container1 .box:hover:before,
// .container1 .box:hover:after
// {
//   transform: skewX(0deg);
//   left: 20px;
//   width: calc(100% - 90px);
  
// }



// .container1 .box:nth-child(2):before,
// .container1 .box:nth-child(2):after
// {
//   background: linear-gradient(315deg,#ffbc00, #ff0058)
// //#ffbc00, #ff0058
// }

// .container1 .box:nth-child(1):before,
// .container1 .box:nth-child(1):after
// {
//   background: linear-gradient(315deg, #03e9f4, #ff0058)
// }

// .container1 .box:nth-child(3):before,
// .container1 .box:nth-child(3):after
// {
//   background: linear-gradient(315deg, #4dff03, #00d0ff)
// }

// .container1 .box:nth-child(4):before,
// .container1 .box:nth-child(4):after
// {
//   background: linear-gradient(315deg, #d503ff, #57bd84)
// }


// .container1 .box span
// {
//   display: block;
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   z-index: 5;
//   pointer-events: none;
// }

// .container1 .box span::before
// {
//   content:'';
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 0;
//   height: 0;
//   border-radius: 8px;
//   background: rgba(255, 255, 255, 0.1);
//   backdrop-filter: blur(10px);
//   opacity: 0;
//   transition: 0.1s;  
//   animation: animate 2s ease-in-out infinite;
//   box-shadow: 0 5px 15px rgba(0,0,0,0.08)
// }

// .container1 .box:hover span::before
// {
//   top: -50px;
//   left: 50px;
//   width: 100px;
//   height: 100px;
//   opacity: 1;
// }

// .container1 .box span::after
// {
//   content:'';
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   width: 100%;
//   height: 100%;
//   border-radius: 8px;
//   background: rgba(255, 255, 255, 0.1);
//   backdrop-filter: blur(10px);
//   opacity: 0;
//   transition: 0.5s;
//   animation: animate 2s ease-in-out infinite;
//   box-shadow: 0 5px 15px rgba(0,0,0,0.08);
//   animation-delay: -1s;
// }

// .container1 .box:hover span:after
// {
//   bottom: -50px;
//   right: 50px;
//   width: 100px;
//   height: 100px;
//   opacity: 1;
// }

// @keyframes animate
// {
//   0%, 100%
//   {
//     transform: translateY(10px);
//   }
  
//   50%
//   {
//     transform: translate(-10px);
//   }
// }

// .container1 .box .content
// {
//   position: relative;
//   left: 0;
//   padding: 20px 40px;
//   background: rgba(255, 255, 255, 0.05);
//   backdrop-filter: blur(10px);
//   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
//   border-radius: 8px;
//   z-index: 1;
//   transform: 0.5s;
//   color: #fff;
// }

// .container1 .box:hover .content
// {
//   left: -25px;
//   padding: 60px 40px;
// }

// .container1 .box .content h2
// {
//   font-size: 2em;
//   color: #fff;
//   margin-bottom: 10px;
// }

// .container1 .box .content p
// {
//   font-size: 1.1em;
//   margin-bottom: 10px;
//   line-height: 1.4em;
// }

// .container1 .box .content a
// {
//   display: inline-block;
//   font-size: 1.1em;
//   color: #111;
//   background: #fff;
//   padding: 10px;
//   border-radius: 4px;
//   text-decoration: none;
//   font-weight: 700;
//   margin-top: 5px;
// }

// .container1 .box .content a:hover
// {
//   background: #ffcf4d;
//   border: 1px solid rgba(255, 0, 88, 0.4);
//   box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
// }

// .row1 {
//   display: flex;
//   -ms-flex-wrap: wrap;
//   flex-wrap: wrap;
//   margin-right: 50px;
//   margin-left: 20px;
// }

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  margin-top: 5%;
  padding: 0 10px;
  
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  align-items: center;
  background-color: #f1f1f1;
}
.column:hover {
  background: linear-gradient(315deg, #03e9f4, #ff0058)
  

}
.column .card a
{
  justify-content: center;
  display: inline-flex;
  font-size: 1.1em;
  color: #111;
  background: rgb(24, 151, 160);
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  width: 50%;
  font-weight: 700;
  margin-top: 5px;
  
}

.column .card  a:hover
{
  background: #1d061a;
  color: #f1f1f1;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}

* { box-sizing: border-box; }

.container2 {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png");
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-top: 5%;
}

.rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 150px;
  position: relative;
}

.rating-0 {
  filter: grayscale(100%);
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.emoji-wrapper {
  width: 100%;
  text-align: center;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.emoji-wrapper:before,
.emoji-wrapper:after{
  content: "";
  height: 15px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

.emoji-wrapper:before {
  top: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);
}

.emoji-wrapper:after{
  bottom: 0;
  background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);
}

.emoji {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s;
}

.emoji > svg {
  margin: 15px 0; 
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}

#rating-1:checked ~ .emoji-wrapper > .emoji { transform: translateY(-100px); }
#rating-2:checked ~ .emoji-wrapper > .emoji { transform: translateY(-200px); }
#rating-3:checked ~ .emoji-wrapper > .emoji { transform: translateY(-300px); }
#rating-4:checked ~ .emoji-wrapper > .emoji { transform: translateY(-400px); }
#rating-5:checked ~ .emoji-wrapper > .emoji { transform: translateY(-500px); }

.feedback {
  max-width: 360px;
  background-color: #fff;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0,0,0,.05);
}


.container3 {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png");
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
  align-items: center;
  justify-content: center;
  
}

.feedbackComentarios {
  max-width: 360px;
  background-color: #fff;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0,0,0,.05);
}


body {
    background-color: #D32F2F;
    font-family: 'Calibri', sans-serif !important
}

.mt-100 {
    margin-top: 100px
    
}

.mb-100 {
    margin-bottom: 100px
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid transparent;
    border-radius: 0px
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.card .card-title {
    position: relative;
    font-weight: 600;
    margin-bottom: 10px
}

.comment-widgets {
    position: relative;
    margin-bottom: 10px
}

.comment-widgets .comment-row {
    border-bottom: 1px solid transparent;
    padding: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0
}

.p-2 {
    padding: 0.5rem !important
}

.comment-text {
    padding-left: 15px
}

.w-100 {
    width: 100% !important
}

.m-b-15 {
    margin-bottom: 15px
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.76563rem;
    line-height: 1.5;
    border-radius: 1px
}

.btn-cyan {
    color: #fff;
    background-color: #27a9e3;
    border-color: #27a9e3
}

.btn-cyan:hover {
    color: #fff;
    background-color: #1a93ca;
    border-color: #198bbe
}

.comment-widgets .comment-row:hover {
    background: rgba(0, 0, 0, 0.05)
}

